<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="clabersoftware.politicapp">

    <application
        android:name=".DataBase.GlobalData"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".UserInterface.MainActivity" />
        <activity android:name=".UserInterface.HomeActivity" />
        <activity android:name=".UserInterface.Politician.PoliticiansActivity" />
        <activity android:name=".UserInterface.Login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UserInterface.Login.SignUpActivity" />
        <activity android:name=".UserInterface.Party.AddPartyActivity" />
        <activity android:name=".UserInterface.VotingObject.AddVotingObjectActivity" />
        <activity android:name=".Search.SearchActivity" />
        <activity android:name=".Search.SearchResultActivity" />
        <activity android:name=".UserInterface.Party.PartyActivity" />
        <activity android:name=".UserInterface.VotingObject.VotingObjectDetailsActivity" />
        <activity android:name=".UserInterface.Party.EditPartyActivity" />
        <activity android:name=".UserInterface.Party.PartiesListActivity" />
        <activity android:name=".UserInterface.VotingObject.VotingObjectsListActivity" />
        <activity android:name=".UserInterface.VotingObject.EditVotingObjectActivity" />
        <activity android:name=".UserInterface.Politician.PoliticianListActivity" />
        <activity android:name=".UserInterface.Politician.EditPoliticianActivity" />
        <activity android:name=".UserInterface.VotingObject.VoteListActivity" />
        <activity android:name=".UserInterface.VotingObject.ToVoteActivity" />
        <activity android:name=".UserInterface.VotingObject.ResultsListActivity" />
        <activity android:name=".UserInterface.VotingObject.PieChartResultActivity"></activity>
    </application>

</manifest>